body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.container0 {
  display: flex;
}

.container1 {
  display: flex;
}

.container2 {
  display: flex;
}
.container .container0 .container1 .container2 {
  flex-direction: column;
}

.sidebar {
  background-color: #3e7861;
  color: #ffffff;
  width: 25%;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #ffffff;
  /* Hover effect */
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #70aac6;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

h1,
h3 {
  color: #70aac6;
}

p {
  color: #000000;
}

.header,
.footer {
  background-color: #e8ffde;
  padding: 20px;
  color: #000000;
  text-align: center;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Responsive styles for smaller devices */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding-bottom: 20px;
  }

  .content {
    margin-top: 20px;
  }
}
