body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#about img {
  float: right;
  display: flex;
    padding: 0px;
    margin: 0px 0px 300px 10px;
}

img {
  float: right;
  display: flex;
    padding: 0px;
    margin: 0px 0px 300px 10px;
}

.container {
  display: flex;
}

.container0 {
  display: flex;
}

.container1 {
  display: flex;
}

.container2 {
  display: flex;
}

.container .container0 .container1 .container2 {
  flex-direction: column;
}

.sidebar {
  background-color: #3e7861;
  color: #ffffff;
  width: 25%;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #ffffff;
}

.sidebar ul li {
  color: #70aac6;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  font-size: 40px;
  color: #70aac6;
}

h3 {
  color: #70aac6;
}

p {
  color: #000000;
}

.header {
  background-color: #e8ffde;
  padding: 20px;
  color: #000000;
  text-align: center;
}

.footer {
  background-color: #e8ffde;
  padding: 10px;
  color: #000000;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  width: 100%;
}

a:hover {
  color: black;
  background-color: #e8ffde;
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding-bottom: 20px;
  }

  .content {
    margin-top: 20px;
  }
}
