* {
    font-family: Verdana;
    font-size: 14px;
  }
  
  #wrapper {
    width: 50%;
    border: 1px solid black;
  }
  
  h1 {
    background-color: gray;
    color: white;
    font-size: 28px;
  }
  
  h2 {
    color: blue;
    font-size: 21px;
  }
  
  header strong {
    color: red;
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: red;
    text-decoration: none;
  }
  
  a:visited {
    color: gray;
  }
  
  .active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  ol li:last-child {
    text-decoration: line-through;
  }
  